html {
font-family: helvetica;
font-size: 18px;
color: white;
}
body {

}


header {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: black;
  font-size: 1rem;
}
.headercontainer {
  display: flex;
  align-items: center;
  width: 960px;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
}

header img {
  height: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 1rem;

}
header span {
  padding-left: 25px;
  align-items:center;
  font-size: 1.25rem;
  color: white;
}
.banner {
  display:flex;
  background-image: url("../images/moto.jpeg") ;
  height: 25rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
}

.bannercontainer {

  width: 960px;
}

.bannerbox {
  background-color: black;
  width: 20rem;
  position: relative;
  display: flex;
  flex-direction: column;
  top: 9rem;
  padding: 2rem 3rem;
  }

h4, h1 {
  color:white;
  font-weight: bold;
}

h4 {
  font-size: 1rem;
  }

h1 {
  padding-top: 0.25rem;
  font-size: 2rem;
}

nav {
  display: flex;
  background-color: firebrick;
  justify-content: center;
  width: 100%;
}

.navcontainer {
  display: flex;
  justify-content: space-between;
  width: 960px;
  padding: 0.75rem 0rem;
  }

a {
  color: white;
  text-decoration: none;
}

.maincontainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: solid 4px black;
  align-content: center;
  align-items: center;
}
.productgrid {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width: 960px;
  margin: 3em 0 0 0;

}
.product {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px black solid;

}
.productimage {
  height: 9rem;
  padding: 2rem 0rem;
  display: flex;
  align-items: center;
}

.product img {
  max-width: 8em;
}

.product span {
  background-color: black;
  color: white;
  text-align: center;
  padding: 0.5em 0rem;
  width: 296px;
}

.infocontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 960px;
  padding-top: 3rem;
  padding-bottom: 4rem;
}

.info {
  display: flex;
  flex-direction: column;
  width: 35%;
  color: black;
}
.info-name {
  background-color: black;
  color: white;
  padding: 1rem 2rem;
  margin-bottom: 0.5rem;
}

footer {
  background-color: black;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 5rem;
  }

  .copyright {
    width: 960px;
  }
.copyright span {
  text-align: left;
}
